<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Áreas do Saber</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Áreas do Saber</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/pessoas/">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/cidades/">Cidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/ocupacoes/">Ocupações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/areas_do_saber/">Areas do Saber</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/cursos/">Cursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/periodos/">Periodos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/disciplinas/">Disciplinas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/matriculas/">Matriculas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/avaliacoes/">Avaliações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/frequencias/">Frequências</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/turmas/">Turmas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/ocorrencias/">Ocorrências</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/disciplinas_cursos/">Disciplinas Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/tipos_avaliacoes/">Tipos Avaliações</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="mb-4">Tabela de Áreas do Saber</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
            </tr>
            {% for Areas_do_Saber in areas_do_saber %}
          </thead>
          <tbody>
           <td>{{Areas_do_Saber.nome}}</td>
          </tbody>
           {% endfor %} 
        </table>
      </div>
    </div>
  </div>

  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>